{% extends "base.html.jinja" %}

{% block title %}vehicle weapons stats{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/stats.html">Stats</a></li>
            <li class="is-active"><a href="/stats/vehicle-weapons.html" aria-current="page">Vehicle weapons</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p class="title is-1">Vehicle weapons stats</p>

    <br />

    {% for fac, v1 in faction_category_vehicle_weapons|items %}
        <p class="title is-2">{{ fac|enum_name }}</p>

        <div class="columns is-multiline">
            {% for cat, v2 in v1|items %}
                <div class="column box is-4">
                    <p class="title is-3">{{ cat|enum_name }}</p>
                    <ul>
                        {% for w in v2 %}
                            <li>
                                <a href="/stats/vehicle-weapons/{{ w.slug }}-{{ w.item_id }}.html">{{ w.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
