{% extends "base.html.jinja" %}

{% block title %}home{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="is-active"><a href="/index.html" aria-current="page">Home</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="title is-1">PS2.LIQUIDWARP.NET</h1>

    <p>
        Welcome to <a href="/">ps2.liquidwarp.net</a>, a website dedicated to technical information on
        <a href="https://www.planetside2.com/">Daybreak Game Company's Planetside2</a>'s content.
    </p>

    <br />

    <aside class="menu">
        <ul class="menu-list">
            <li>
                <p>Stats</p>
                <ul>
                    <li>
                        <p>Weapons</p>
                        <ul>
                            <li>
                                <a href="/stats/weapons/infantry-list.html" class="has-text-link">Infantry</a>
                            </li>
                            <li>
                                <a href="/stats/weapons/vehicle-list.html" class="has-text-link">Vehicle</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
{% endblock %}
