{% extends "base.html.jinja" %}

{% block title %}home{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="is-active"><a href="/index.html" aria-current="page">Home</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p class="title is-1">PS2.LW.NET</p>

    <p>
        Welcome to <a href="/">ps2.liquidwarp.net</a>, a website dedicated to technical information on
        <a href="https://www.planetside2.com/">Daybreak Game Company's Planetside2</a>'s content.
    </p>

    <br />

    <aside class="menu">
        <ul class="menu-list">
            <li>
                <a href="/stats.html">Stats</a>
                <ul>
                    <li>
                        <a href="/stats/infantry-weapons.html">Infantry weapons</a>
                    </li>
                    <li>
                        <a href="/stats/vehicle-weapons.html">Vehicle weapons</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
{% endblock %}
