{% extends "base.html.jinja" %}

{% block title %}home{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="is-active"><a href="/index.html" aria-current="page">Home</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    Home !
{% endblock %}
