{% extends "base.html.jinja" %}

{% block title %}stats{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li class="is-active"><a href="/stats.html" aria-current="page">Stats</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p class="title is-1">Stats</p>

    <p>
        Explore raw stats for the following elements.
    </p>

    <br />

    <aside class="menu">
        <ul class="menu-list">
            <li>
                <a href="/stats/infantry-weapons.html" class="has-text-link">Infantry weapons</a>
            </li>
            <li>
                <a href="/stats/vehicle-weapons.html" class="has-text-link">Vehicle weapons</a>
            </li>
        </ul>
    </aside>
{% endblock %}
