{% extends "base.html.jinja" %}

{% block title %}stats{% endblock %}

{% block breadcrumb %}
    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li class="is-active"><a href="/stats.html" aria-current="page">Stats</a></li>
            </ul>
        </nav>
    </section>
{% endblock %}

{% block content %}
    Stats !
{% endblock %}
