{% extends "base.html.jinja" %}

{% block title %}stats{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li class="is-active"><a href="/stats.html" aria-current="page">Stats</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p class="title is-1">Stats</p>

    Explore raw stats for the following elements.

    <div class="content">
        <ul>
            <li>
                <a href="/stats/infantry-weapons.html">Infantry weapons</a>
            </li>
            <li>
                <a href="/stats/vehicle-weapons.html">Vehicle weapons</a> (WORK IN PROGRESS)
            </li>
        </ul>
    </div>
{% endblock %}
