<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PS2.LW.NET {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/statics/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/statics/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/statics/css/mybulma.min.css">
    </head>
    <body>
        {% block top_navbar %}
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/index.html">
                        <img src="/statics/images/logo.png" width="32" height="32">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/stats.html">
                            Stats
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/stats/infantry-weapons.html">
                                Infantry weapons
                            </a>
                            <a class="navbar-item" href="/stats/vehicle-weapons.html">
                                Vehicle weapons
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <section class="section">
            <div class="container">
                {% block breadcrumb %}
                {% endblock %}
            </div>
        </section>
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <footer class="footer">
            <div class="container has-text-centered">
                <p>
                    Updated {{ update_datetime }}.
                </p>
                <p>
                    Generated by <a href="https://github.com/spascou/ps2.liquidwarp.net">ps2.liquidwarp.net</a>,
                    using <a href="https://github.com/spascou/ps2-census">ps2-census</a>
                    and <a href="https://github.com/spascou/ps2-analysis">ps2-analysis</a>.
                </p>
                <p>
                    Feedback and bug reports welcome
                    <a href="https://github.com/spascou/ps2.liquidwarp.net/issues">here</a>.
                </p>
            </div>
            <br />
            <div class="container has-text-centered">
                <p>
                    Generated code is licensed under the
                    <a href="https://opensource.org/licenses/MIT">MIT license</a>.
                </p>
            </div>
            <br />
            <div class="container has-text-centered">
                <p>
                    Any content served from daybreakgames.com as well as all the data presented on this
                    website is the sole ownership of Daybreak Game Company.
                </p>
                <p>
                    This website is in no way sponsored, endorsed or associated with Daybreak Game Company.
                </p>
            </div>
        </footer>
        {% block bottom_navbar %}
            <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
                <div class="navbar-end">
                    <a class="navbar-item" href="#">
                        Back to top
                    </a>
                </div>
            </nav>
        {% endblock %}
    </body>
</html>
