{% macro ammo_macro(ammo) %}
    <div class="box has-background-blue">
        <h5 class="title is-5 has-text-centered">Ammo</h5>

        <table class="is-table">
            <tbody>
                <tr>
                    <th>Clip size / total capacity</th>
                    <td>{{ ammo.clip_size }} / {{ ammo.total_capacity }}</td>
                </tr>
                <tr>
                    <th>Ammo per shot / shots per clip</th>
                    <td>{{ ammo.ammo_per_shot }} / {{ ammo.shots_per_clip }}</td>
                </tr>
                <tr>
                    <th>
                        <span class="has-tooltip" data-tooltip="Short reload on partially-empty magazine, long reload on completely empty magazine">
                            Short / long reload time
                        </span>
                    </th>
                    <td>{{ ammo.short_reload_time }}ms / {{ ammo.long_reload_time }}ms</td>
                </tr>
                <tr>
                    <th>Block auto</th>
                    <td>{{ ammo.block_auto }}</td>
                </tr>
                <tr>
                    <th>Continuous</th>
                    <td>{{ ammo.continuous }}</td>
                </tr>
                {% if ammo.loop_start_time and ammo.loop_end_time %}
                    <tr>
                        <th>Reload loop start / end time</th>
                        <td>
                            {{ ammo.loop_start_time }}ms / {{ ammo.loop_end_time }}ms
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}
