{% from "stats/fire_group_macros.html.jinja" import fire_group_macro %}
{% from "stats/ammo_macros.html.jinja" import ammo_macro %}
{% from "stats/heat_macros.html.jinja" import heat_macro %}
{% from "stats/direct_damage_profile_macros.html.jinja" import direct_damage_profile_macro %}
{% from "stats/indirect_damage_profile_macros.html.jinja" import indirect_damage_profile_macro %}
{% from "stats/projectile_macros.html.jinja" import projectile_macro %}
{% from "stats/lock_on_macros.html.jinja" import lock_on_macro %}
{% from "stats/fire_timing_macros.html.jinja" import fire_timing_macro %}
{% from "stats/recoil_macros.html.jinja" import recoil_macro %}
{% from "stats/cone_of_fire_macros.html.jinja" import cone_of_fire_macro %}

{% macro attachment_macro(
    attachment,
    fire_group_background_classes,
    fire_mode_background_classes,
    _loop
) %}
    <div class="column is-full">
        <div class="box">
            <p class="title is-3" id="attachment-{{ attachment.attachment_item_id }}">
                {{ attachment.name }}{{ " (default)" if attachment.is_default else "" }}
            </p>

            {% if attachment.description %}
                <p class="title is-5">{{ attachment.description }}</p>
            {% endif %}

            {% if attachment.image_path and attachment.is_default is false %}
                <figure class="image">
                    <img
                        src="https://census.daybreakgames.com{{ attachment.image_path }}"
                        width="256"
                        height="128"
                        style="max-width: 100%; width: auto"
                    />
                </figure>
            {% endif %}

            <div class="content">
                {% if attachment.effects %}
                    <p class="title is-4">Effects</p>

                    <div class="columns is-multiline">
                        {% for effect in attachment.effects %}
                            <div class="column is-6">
                                <div class="box">
                                    <table class="is-table">
                                        <tbody>
                                            {% for attachment_effect_key, attachment_effect_value in effect|items %}
                                                <tr>
                                                    <th>{{ attachment_effect_key }}</th>
                                                    <td>{{ attachment_effect_value }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No listed effects</p>
                {% endif %}
            </div>

            {% if attachment.fire_groups %}
                <div class="content">
                    <p class="title is-4">Fire groups</p>

                    <div class="columns is-multiline">
                        <div class="column is-full">

                            {% if attachment.ammo and attachment.ammo.ammo_per_shot > 0 %}
                                {% set fire_group_ammo = false %}
                                {{ ammo_macro(ammo=attachment.ammo) }}
                            {% else %}
                                {% set fire_group_ammo = true %}
                            {% endif %}

                            {% if attachment.heat and attachment.heat.heat_per_shot > 0 %}
                                {% set fire_group_heat = false %}
                                {{ heat_macro(heat=attachment.heat) }}
                            {% else %}
                                {% set fire_group_heat = true %}
                            {% endif %}

                            {% if attachment.direct_damage_profile %}
                                {% set fire_group_direct_damage_profile = false %}
                                {{ direct_damage_profile_macro(direct=attachment.direct_damage_profile) }}
                            {% else %}
                                {% set fire_group_direct_damage_profile = true %}
                            {% endif %}

                            {% if attachment.indirect_damage_profile %}
                                {% set fire_group_indirect_damage_profile = false %}
                                {{ indirect_damage_profile_macro(indirect=attachment.indirect_damage_profile) }}
                            {% else %}
                                {% set fire_group_indirect_damage_profile = true %}
                            {% endif %}

                            {% if attachment.projectile %}
                                {% set fire_group_projectile = false %}
                                {{ projectile_macro(projectile=attachment.projectile) }}
                            {% else %}
                                {% set fire_group_projectile = true %}
                            {% endif %}

                            {% if attachment.lock_on %}
                                {% set fire_group_lock_on = false %}
                                {{ lock_on_macro(lock_on=attachment.lock_on) }}
                            {% else %}
                                {% set fire_group_lock_on = true %}
                            {% endif %}

                            {% if attachment.fire_timing %}
                                {% set fire_group_timing = false %}
                                {{ fire_timing_macro(timing=attachment.fire_timing) }}
                            {% else %}
                                {% set fire_group_timing = true %}
                            {% endif %}

                            {% if attachment.recoil %}
                                {% set fire_group_recoil = false %}
                                {{ recoil_macro(recoil=attachment.recoil) }}
                            {% else %}
                                {% set fire_group_recoil = true %}
                            {% endif %}

                            {% if attachment.player_state_cone_of_fire %}
                                {% set fire_group_player_state_cone_of_fire = false %}
                                <div class="box">
                                    <p class="title is-5">Cone of fire</p>

                                    {% for player_state, cone_of_fire in attachment.player_state_cone_of_fire|items %}
                                        {{ cone_of_fire_macro(player_state=player_state, cone_of_fire=cone_of_fire) }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {% set fire_group_player_state_cone_of_fire = true %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="columns is-multiline">
                        {% for fire_group in attachment.fire_groups %}
                            {{ fire_group_macro(
                                fire_group=fire_group,
                                fire_group_background_classes=fire_group_background_classes,
                                fire_mode_background_classes=fire_mode_background_classes,
                                _loop=loop,
                                with_magdump_simulation=with_magdump_simulation,
                                with_ammo=fire_group_ammo,
                                with_heat=fire_group_heat,
                                with_direct_damage_profile=fire_group_direct_damage_profile,
                                with_indirect_damage_profile=fire_group_indirect_damage_profile,
                                with_projectile=fire_group_projectile,
                                with_lock_on=fire_group_lock_on,
                                with_timing=fire_group_timing,
                                with_recoil=fire_group_recoil,
                                with_player_state_cone_of_fire=fire_group_player_state_cone_of_fire
                            ) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
