{% macro cone_of_fire_macro(player_state, cone_of_fire) %}
    <div class="box has-background-turquoise">
        <h5 class="title is-5 has-text-centered">{{ player_state|enum_name }} cone of fire</h5>

        <table class="is-table">
            <tbody>
                <tr>
                    <th>Base min / max spread</th>
                    <td>
                        {% if cone_of_fire.min_angle or cone_of_fire.max_angle %}
                            {{ cone_of_fire.min_angle }}° / {{ cone_of_fire.max_angle }}°
                        {% else %}
                            No spread
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Standing / moving multipliers</th>
                    <td>
                        {{ cone_of_fire.multiplier }}x / {{ cone_of_fire.moving_multiplier }}x<br />
                        {% if cone_of_fire.min_angle or cone_of_fire.max_angle %}
                            Standing min {{ cone_of_fire.min_cof_angle(moving=False) }}° / max {{ cone_of_fire.max_cof_angle(moving=False) }}°<br />
                            Moving min {{ cone_of_fire.min_cof_angle(moving=True) }}° / max {{ cone_of_fire.max_cof_angle(moving=True) }}°
                        {% else %}
                            No spread
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Pellet spread</th>
                    <td>{{ cone_of_fire.pellet_spread }}°</td>
                </tr>
                <tr>
                    <th>Bloom</th>
                    <td>
                        {% if cone_of_fire.bloom %}
                            {{ cone_of_fire.bloom }}°
                        {% else %}
                            No bloom
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Recovery</th>
                    <td>
                        {% if cone_of_fire.recovery_rate %}
                            {{ cone_of_fire.recovery_rate }}°/s after {{ cone_of_fire.recovery_delay }}ms
                        {% else %}
                            No recovery
                        {% endif %}
                    </td>
                </tr>
                {% if cone_of_fire.grow_rate %}
                    <tr>
                        <th>Grow rate</th>
                        <td>{{ cone_of_fire.grow_rate }}°/s</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}
