{% macro fire_timing_macro(timing) %}
    <div class="box">
        <p class="title is-5">Timing</p>

        <table class="table is-striped">
            <tbody>
                <tr>
                    <th>Type</th>
                    {% if timing.is_automatic %}
                        <td>Automatic</td>
                    {% elif timing.burst_length and timing.burst_refire_time %}
                        <td>{{ timing.burst_length }}x burst with {{ timing.burst_refire_time }}ms refire</td>
                    {% elif timing.chamber_time %}
                        <td>Manual-action with {{ timing.chamber_time }}ms chamber time</td>
                    {% else %}
                        <td>Semi-automatic</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>
                        <span class="has-tooltip" data-tooltip="Theoretical rate of fire without reloads">
                            Shots per minute
                        </span>
                    </th>
                    <td>{{ timing.shots_per_minute }} RPM</td>
                </tr>
                <tr>
                    <th>Refire time</th>
                    <td>{{ timing.refire_time }}ms</td>
                </tr>
                {% if timing.fire_duration %}
                    <tr>
                        <th>Fire duration</th>
                        <td>{{ timing.fire_duration }}ms</td>
                    </tr>
                {% endif %}
                {% if timing.delay %}
                    <tr>
                        <th>Delay</th>
                        <td>{{ timing.delay }}ms</td>
                    </tr>
                {% endif %}
                {% if timing.charge_up_time %}
                    <tr>
                        <th>Charge time</th>
                        <td>{{ timing.charge_up_time }}ms</td>
                    </tr>
                {% endif %}
                {% if timing.spool_up_time %}
                    <tr>
                        <th>Spooling</th>
                        <td>
                            {{ timing.spool_up_initial_refire_time }}ms
                            initial refire time for {{ timing.spool_up_time}}ms
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{%- endmacro %}
