{% from "stats/fire_mode_macros.html.jinja" import fire_mode_stats_macro with context %}

{% macro fire_group_stats_macro(fire_group, _loop) %}
    <div class="column is-full">
        <div class="box {{ _loop.cycle(*fire_group_background_classes) }}">
            <p class="title is-3 has-text-black" id="fire-group-{{ fire_group.fire_group_id }}">
                {{ fire_group.description }}
            </p>

            <div class="content">
                <p class="title is-4 has-text-black">Basic information</p>

                <table class="table is-striped">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ fire_group.fire_group_id }}</td>
                        </tr>
                        <tr>
                            <th>Transition time</th>
                            <td>
                                {% if fire_group.transition_time > 0 %}
                                    {{ fire_group.transition_time }}ms
                                {% else %}
                                    Instant
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content">
                <p class="title is-4 has-text-black">Fire modes</p>

                <div class="columns is-multiline">
                    {% for fire_mode in fire_group.fire_modes %}
                        {{ fire_mode_stats_macro(fire_mode, _loop = loop) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br />
{%- endmacro %}
