{% macro indirect_damage_profile_macro(indirect) %}
    <div class="box has-background-red">
        <p class="title is-5 has-text-centered">
            <span class="has-tooltip", data-tooltip="Damage caused indirectly around the pellet impact location">
                Indirect damage
            </span>
        </p>

        <table class="is-table">
            <tbody>
                <tr>
                    <th>Damage per shot</th>
                    <td>
                        {{ indirect.damage_per_shot(indirect.max_damage_range) }}
                        within {{ indirect.max_damage_range }}m radius,<br />
                        {{ indirect.damage_per_shot(indirect.min_damage_range) }}
                        within {{ indirect.min_damage_range }}m radius<br />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="has-tooltip", data-tooltip="Damage type used for resistances">
                            Resist type
                        </span>
                    </th>
                    <td>
                        {{ indirect.resist_type|enum_name }}
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="title is-5 has-text-centered">
            <span class="has-tooltip", data-tooltip="Often repeats the damage characteristics above, but sometimes contains other effects">
                Indirect damage effect
            </span>
        </p>

        <table class="is-table">
            <tbody>
                {% for indirect_effect_key, indirect_effect_value in indirect.effect|items %}
                    <tr>
                        <th>{{ indirect_effect_key }}</th>
                        <td>{{ indirect_effect_value|enum_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
