{% macro lock_on_macro(lock_on) %}
    <div class="box has-background-orange">
        <p class="title is-5 has-text-centered">Lock-on</p>

        <table class="is-table">
            <tbody>
                <tr>
                    <th>Required</th>
                    <td>
                        {{ lock_on.required }}
                    </td>
                </tr>
                <tr>
                    <th>Maintain</th>
                    <td>
                        {{ lock_on.maintain }}
                    </td>
                </tr>
                <tr>
                    <th>Seek in flight</th>
                    <td>
                        {{ lock_on.seek_in_flight }}
                    </td>
                </tr>
                {% if lock_on.turn_rate %}
                    <tr>
                        <th>Turn rate</th>
                        <td>
                            {{ lock_on.turn_rate }}°/s
                        </td>
                    </tr>
                {% endif %}
                {% if lock_on.life_time %}
                    <tr>
                        <th>Life time</th>
                        <td>
                            {{ lock_on.life_time }}ms
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}
