{% extends "base.html.jinja" %}

{% from "stats/fire_group_macros.html.jinja" import fire_group_macro with context %}
{% from "stats/attachment_macros.html.jinja" import attachment_macro with context %}

{% block title %}{{ weapon.name }} stats{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/stats.html">Stats</a></li>
            <li><a href="/stats/vehicle-weapons.html">Vehicle weapons</a></li>
            <li class="is-active">
                <a href="/stats/vehicle-weapons/{{ weapon.slug }}.html" aria-current="page">
                    {{ weapon.name }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% if weapon.image_path is not none %}
        <figure class="image">
            <img
                src="https://census.daybreakgames.com{{ weapon.image_path }}"
                width="256"
                height="128"
                style="max-width: 100%; width: auto"
            />
        </figure>
    {% endif %}

    <p class="title is-1">{{ weapon.name }}</p>

    {% if weapon.description %}
        <p class="subtitle is-4">{{ weapon.description }}</p>
    {% endif %}

    <aside class="menu">
        <ul class="menu-list">
            <li><a href="#basic-information" class="has-text-link">Basic information</a></li>
            {% if weapon.fire_groups %}
                <li>
                    <a href="#fire-groups" class="has-text-link">Fire groups</a>
                    <ul>
                        {% for fire_group in weapon.fire_groups %}
                            <li>
                                <a href="#fire-group-{{ fire_group.fire_group_id }}" class="has-text-link">
                                    {{ fire_group.description }}
                                </a>
                                <ul>
                                    {% for fire_mode in fire_group.fire_modes %}
                                        <li>
                                            <a href="#fire-mode-{{ fire_mode.fire_mode_id }}" class="has-text-link">
                                                {{ fire_mode.fire_mode_type|enum_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if weapon.attachments %}
                <li>
                    <a href="#attachments" class="has-text-link">Attachments</a>
                    <ul>
                        {% for attachment in weapon.attachments %}
                            <li>
                                <a href="#attachment-{{ attachment.attachment_item_id }}" class="has-text-link">
                                    {{ attachment.name }}{{ " (default)" if attachment.is_default else "" }}
                                </a>
                                {% if attachment.fire_groups %}
                                    <ul>
                                        {% for fire_group in attachment.fire_groups %}
                                            <li>
                                                <a href="#fire-group-{{fire_group.fire_group_id }}" class="has-text-link">
                                                    {{ fire_group.description }}
                                                </a>
                                                <ul>
                                                    {% for fire_mode in fire_group.fire_modes %}
                                                        <li>
                                                            <a href="#fire-mode-{{ fire_mode.fire_mode_id }}" class="has-text-link">
                                                                {{ fire_mode.fire_mode_type|enum_name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </aside>

    <br />

    <div class="content">
        <p class="title is-2" id="basic-information">Basic information</p>

        <table class="table is-striped">
            <tbody>
                <tr>
                    <th>Item / weapon ID</th>
                    <td>{{ weapon.item_id }} / {{ weapon.weapon_id }}</td>
                </tr>
                <tr>
                    <th>Faction</th>
                    <td>{{ weapon.faction|enum_name }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ weapon.category|enum_name }}</td>
                </tr>
                <tr>
                    <th>Move / turn multiplier</th>
                    <td>{{ weapon.move_multiplier }}x / {{ weapon.turn_multiplier }}x</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="content">
        <p class="title is-2" id="fire-groups">Fire groups</p>

        <div class="columns is-multiline">
            {% for fire_group in weapon.fire_groups %}
                {{ fire_group_macro(fire_group=fire_group, _loop=loop) }}
            {% endfor %}
        </div>
    </div>

    {% if weapon.attachments %}
        <div class = "content">
            <p class="title is-2" id="attachments">Attachments</p>

            {% for attachment in weapon.attachments %}
                {{ attachment_macro(attachment=attachment, _loop=loop) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
